@font-face {
    font-family: "roboto";
    src: url(./assets/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./assets/colorful.png) center/cover;
    font-family: "roboto", sans-serif;
    font-size: 1.2rem;
}

form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 115px 20px 0;
    background: rgba(255, 220, 220, 0.664);
    border-radius: 100%;
    width: 580px;
    height: 580px;
    display: flex;
    flex-direction: column;
}

[class*="container"] {
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px;
}

input, label, span, p {
    width: 320px;
    margin: auto;
}

input {
    height: 34px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 1.1rem;
}

input[type="email"] {
    margin-bottom: -20px;
}

button[type="submit"] {
    width: 220px;
    height: 40px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin: 10px auto;
    border-radius: 10px;
    background-image: linear-gradient(to right, #C02425 0%, #F0CB35  51%, #C02425  100%);
    transition: 0.5s;
    color: white;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border: none;
    box-shadow: 0 0 10px black;
}

.email-container span {
    visibility: hidden;
}

button[type="submit"]:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }

 button[type="submit"]:active {
     transform: translateY(20%);
 }